<!--
  Generated template for the TransportationTypePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content  style="background-color:#2d3a46" class="{{this.helper.lang_direction}}">
<div style="text-align: center;color: white;margin: 55% 36pt 0 36pt;font-size: 18pt;">{{"trnsQues" | translate}}</div>
<ion-row style="direction:ltr">
  <ion-col col-6 no-padding (click)="updateTrans(3)">
  <table class="public-trans">
    <tr><td>
      <img src="assets/imgs/icBus@2x.png" width="123pt" height="173pt" class="public-bus">
    </td></tr>
    <tr><td>
      <span *ngIf="this.helper.lang_direction == 'ltr'"> 
        {{"Public" | translate}}<br/> {{"Transportation" | translate}}
      </span>
      <span *ngIf="this.helper.lang_direction == 'rtl'">
          {{"Transportation" | translate}} <br/>{{"Public" | translate}}
        </span>
    </td></tr>
    
  </table>
  </ion-col>
  <ion-col col-6 no-padding (click)="updateTrans(4)">
    <table class="university-trans">
        <tr><td>
            <img src="assets/imgs/icBusCopy@2x.png" width="139pt" height="175pt" class="univer-bus">
          </td></tr>
          <tr><td>
              <span *ngIf="this.helper.lang_direction == 'ltr'">
            {{"University" | translate}}<br/> {{"Transportation" | translate}}
            </span>
            <span *ngIf="this.helper.lang_direction == 'rtl'">
                {{"Transportation" | translate}} <br/>  {{"University" | translate}}
                </span>
          </td></tr>
    </table>
  </ion-col>
</ion-row>
</ion-content>
