page-search-places {
    ion-title  {
        color: white;
      
      } 
    .callButtonStyleEn{
        font-size: 30px;
        float:right;
    }
    .callButtonStyleAr{
        font-size: 30px;
        float:left;
    }

    .circleBase {
        border-radius: 50%;
        margin: auto;
    }
    .type1 {
        width: 8px;
        height: 8px;
         background: #006098;
         margin-top: 8px
        // border: 3px solid red;
    }
    .type3 {
        width: 12px;
        height:12px;
        background: white;
        border: 2.2px solid #006098;
    }

    .divShadowStyle{
        -webkit-box-shadow: 0px 4px 12px 0px rgba(224,220,224,1);
        -moz-box-shadow: 0px 4px 12px 0px rgba(224,220,224,1);
        box-shadow: 0px 4px 12px 0px rgba(224,220,224,1);
         padding: 10px;
        width: 100% ;
        border: 1px;
    }
    
}
