<!--
  Generated template for the SearchPlacesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header  class="{{this.helper.lang_direction}}">

  <ion-navbar color="autobus">
    <ion-title>{{"Results" | translate}}</ion-title>
    <ion-buttons  right>
      <button ion-button style="width: 30px">
        </button>
</ion-buttons>
  </ion-navbar>
  
</ion-header>


<ion-content>
    <div class="divShadowStyle">
      <ion-row style="margin:auto;">
        <ion-col col-1 style="padding:0;-webkit-flex-grow:0;">
          <div class="circleBase type1"></div>
          <div style="width: 1.5px;height: 23px;background-color:#006098;margin: auto"></div>
          <div class="circleBase type3"></div>
        </ion-col>
        <ion-col col-11 style="padding: 0px;">
          <div style="margin-top: 3px;">
            <ion-label style="color: #72a7c6;font-size: 13px;margin: 0">{{fromAddress}}</ion-label>
          </div>
          <div style="margin-top:9px;">
            <label style="color: #006098;font-size: 16px;text-transform: capitalize;">{{toAddress}}</label>
          </div>
        </ion-col>
      </ion-row>
    </div>
  
    <ion-scroll #scrollWeb scrollY="true" style="height:100%;">
    <ion-row style="text-align:center;" *ngIf="noData">
      <ion-col col-12>
        {{'noSearchData' | translate}}
      </ion-col>
    </ion-row>
      <ion-col *ngFor="let item of buses" (click)="openTripDetails(item)">
        <ion-row>
          <ion-col col-2>
          </ion-col>
          <ion-col style="padding:0;">
            <label style="color: #006098;font-size: 16px;font-size: 17px">  {{ 'bus' | translate }} #{{item.bus_number}} </label>
            <!-- <label style="color: #006098;font-size: 16px;font-size: 17px">2</label> -->
          </ion-col>
          <ion-col style="padding:0;">
            <!-- <ion-icon name="aprice"></ion-icon> -->
            <ion-label style="margin: 0;color: #006098;  font-size: 17px;background-position-x: center; background-image: url(assets/imgs/priceBg.png);  background-repeat: no-repeat;  padding: 9px 0; text-align: center;">    {{item.fare}} JOD</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2 style="margin: auto!important;">
            <!-- <ion-icon name="bus" style="color:#006098 ;margin: auto;display: block;width: fit-content;"></ion-icon>
          -->
          <img src="assets/imgs/icBusBig.png" style="margin: auto;display: block;width: 30px;height: 20px;">
        </ion-col>
  
          <ion-col col-5 style="padding:0;">
            <ion-row>
              <label style="color: #a7a9ac;font-size: 17px;">{{'EST_ARRIVAL'|translate}}</label>
            </ion-row>
            <ion-row>
              <label style="color: black;font-size: 17px;">{{item.busRouteDistanceFeet?.feet?.duration?.text}}</label>
            </ion-row>
          </ion-col>
          <ion-col col-5 style="padding:0;">
            <ion-row>
              <label style="color: #a7a9ac;font-size: 17px;">{{'distance'|translate}}</label>
            </ion-row>
            <ion-row>
              <label style="color: black;font-size: 17px;">{{item.routes?.distance?.text}}</label>
            </ion-row>
          </ion-col>
  
  
        </ion-row>
        <ion-row >
          <ion-col col-2>
          </ion-col>
          <ion-col col-5 style="padding:0;">
            <ion-row>
              <label style="color: #a7a9ac;font-size: 17px;">{{'Start'|translate}}</label>
            </ion-row>
            <ion-row>
              <label style="color: black;font-size: 17px;">{{item.route_start_address}}</label>
            </ion-row>
          </ion-col>
          <ion-col col-5 style="padding:0;">
            <ion-row>
              <label style="color: #a7a9ac;font-size: 17px;">{{'STOP'|translate}}</label>
            </ion-row>
            <ion-row>
              <label style="color: black;font-size: 17px;">{{item.route_end_address}}</label>
            </ion-row>
          </ion-col>
        </ion-row> 
        <div style="background-color:#e8e8e8 ;height: 2px;margin-right: 20px;margin-left: 20px;margin-top: 20px"></div>
      </ion-col>
      <!-- ///////////// -->
     
      <div style="margin-bottom: 20px;">
        <button ion-button (click)="ionViewDidLoad()" [hidden]="hideMoreBtn" style="margin:auto;background-color:#ff8300;width: 83%;display: block;text-transform: none;font-size: 14px;">{{'loadMore'|translate}}</button>
      </div>
    </ion-scroll>
   
  
  
  </ion-content>
