<ion-header>
  <ion-navbar  color="autobus">
      <ion-buttons  left>
        <button ion-button (click)="reloadApp()">
          <ion-icon name="refresh" style="color:white;font-size:24px;font-weight: bold;" ></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>{{"hometab" | translate}}</ion-title>
    <ion-buttons  right>
        <button ion-button (click)="openContact()">
            <ion-icon name="ios-call-outline" style="color:white;font-size:24px;font-weight: bold;" ></ion-icon>
          </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >
    <!-- <ion-spinner name="circles" style="display:block;margin:auto;" [hidden]="showLoading" ></ion-spinner> -->
  <div id="map_canvas" #map_canvas style="width:100%;height:100%;position: absolute;direction: ltr !important;">
    <div style="margin: 60px 10px;background-color:transparent;width:50px;left:0;border-radius: 10px;float: left;">
    <img *ngIf="map_type == 'MAP_TYPE_NORMAL'" src="assets/imgs/sat.png" (click)="mapTypeChanged('MAP_TYPE_SATELLITE')" style="width:50px;height:50px;border-radius: 10px"/>
    <img *ngIf="map_type == 'MAP_TYPE_SATELLITE'" src="assets/imgs/map.png" (click)="mapTypeChanged('MAP_TYPE_NORMAL')" style="width:50px;height:50px;border-radius: 10px"/>
    </div>
    <!-- <ion-select interface="popover" [(ngModel)]="map_type" (ionChange)="mapTypeChanged()" style="padding: 4px;margin: 6px 65px;background-color:white;width:100px;text-align: center;">
      <ion-option value="MAP_TYPE_NORMAL">{{"Map" | translate}}</ion-option>
      <ion-option value="MAP_TYPE_SATELLITE">{{"SATELLITE" | translate}}</ion-option>
    </ion-select> -->
  </div>
  <div [hidden]="!nearestBusID" (click)="moveToBus()" style="position: fixed;background-color: white;bottom: 65px;width: 62%;margin: auto !important;right: 19%;border-radius: 6px; box-shadow: 0px 1px 10px 2px grey;z-index: 100000;">
    <ion-row>
      
      <ion-col col-12>
        <table>
          <tr>
            <td style="color:#006098;width: 75px;">{{"Nearestbus" | translate}}:</td>
            <td style="color:#ff8300;font-size: 16px;"><img src="assets/imgs/icBus@3x.png" style="width: 18px;"> #{{nearestBusID}}</td>
          </tr>
          <tr>
            <td colspan="2" style="color:#2d3a46">{{"durationToBusFeet" | translate}} {{nearestBusTime}} {{"walk" | translate}}</td>
          </tr>
        </table>
      </ion-col>
    </ion-row>
  </div>
  <img [hidden]="true" src="assets/imgs/bus587.png">
</ion-content>
