<!--
  Generated template for the TripDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->




<ion-content>
   <div>
    <ion-row style="height: fit-content !important;background-color: #006098 !important;">
      <ion-col style="margin-left: 20px;margin-right: 20px">
        <ion-icon *ngIf="translate.getDefaultLang()!='ar'" (click)="goBack()" name="arrow-back" style="color: white; margin-top: 60px;font-size: 30px"></ion-icon>
        <ion-icon *ngIf="translate.getDefaultLang()=='ar'" (click)="goBack()" name="arrow-forward" style="color: white; margin-top: 60px;font-size: 30px"></ion-icon>
        <label style="color: white; margin-top: 20px;font-size: 20px ;display: block"> {{'bus'|translate}} #
          {{busNumber}}</label>
      </ion-col>
      <ion-col style="padding: 0 !important;">
        <img *ngIf="translate.getDefaultLang()=='ar'" src="assets/imgs/icBus@2x.png" Class="busStyleAr">
        <img *ngIf="translate.getDefaultLang()!='ar'" src="assets/imgs/icBusBusDetails.png" Class="busStyleEn">
      </ion-col>
    </ion-row>
  </div>
    <div>
      <ion-segment mode="md" color="white" style="color:white !important;;background-color:#006098">
        <ion-segment-button (click)="setActive('one')" style="font-size: 14px;color:white;" [style.border-bottom]="section == 'one' ? '4px solid white' : 'none'">
          {{'Details'|translate}}
        </ion-segment-button>
        <ion-segment-button (click)="setActive('two')" style="font-size: 14px;color:white;" [style.border-bottom]="section == 'two' ? '4px solid white' : 'none'">
          {{'MAP'|translate}}
        </ion-segment-button>
      </ion-segment>
    </div>

    <!-- <div [ngSwitch]="tripDetailsSegment"> -->
      <!-----Detials Segment------>
      <ion-row [style.display]="section == 'one' ? 'block' : 'none'">
             <ion-row >
                 <ion-col col-6>
                   <ion-row>
                      <label style="color: rgb(175, 170, 170);font-size: 15px;">{{'driver'|translate}} : </label>
                      <label style="color: gray;font-size: 15px;text-transform: capitalize;">{{driver_name}}</label>
                    </ion-row>
                 </ion-col>
                 <ion-col col-6>
                   <ion-row style="text-align: center;">
                    
                     
                      <ion-col col-12 (click)="goToReview()" style="padding:0px">
                          <ion-label style="color: #ff8300;font-size: 18px;margin: 0px">{{'WriteReview'|translate}}<ion-icon name="review"style="font-size: 15px;color: #ff8300;margin-right:5px;;margin-left:5px"></ion-icon></ion-label>
                       </ion-col>
                   </ion-row>
                 </ion-col>
               
             </ion-row> 
             <ion-row *ngIf="type" style="text-align:center;">
                <ion-col col-12 style="padding:0px;margin-bottom: 10px">
                    <button ion-button (click)="saveRoute()" [hidden]="hideMoreBtn" style="margin:0;background-color:#ff8300;width: 83%;text-transform: none;font-size: 14px;padding: 0px">{{'saveRoute'|translate}}</button>
                 
              </ion-col>
             </ion-row>       
              <ion-row style="margin-bottom: 9px" >
                
                <ion-col  col-6>
                  <label style="color: #006098;font-size: 16px;font-size: 17px">  {{ 'bus' | translate }} #{{tripDetails.bus_number}}</label>
                  <!-- <label style="color: #006098;font-size: 16px;font-size: 17px">2</label> -->
                </ion-col>
                <ion-col  col-6>
                  <ion-label style="margin: 0;color: #006098;  font-size: 17px; background-image: url(assets/imgs/priceBg.png);  background-repeat: no-repeat;background-position-x: center;  padding: 9px 0; text-align: center;">    {{tripDetails.fare}} JOD</ion-label>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="userSource" style="font-size:14pt">
                <ion-col col-4 style="text-align:center;color:#424242">{{startTime}}</ion-col>
                <ion-col col-8>
                  <ion-row>
                   <ion-col col-2 style="color:#ff8300"><ion-icon name="flag"></ion-icon></ion-col>
                   <ion-col col-10 style="color:#424242;text-transform: capitalize;">{{userSource}}</ion-col>
                   
                  </ion-row>
                </ion-col>
              </ion-row>

              <ion-row style="font-size:14pt;padding: 0;">
                  <ion-col col-4 style="color:#424242;padding: 0;"></ion-col>
                  <ion-col col-8>
                    <ion-row>
                     <ion-col col-2 style="color:gray;padding: 0;"><div style="border-left-width:2px;border-left-style:dashed; margin: 0 12px;height:51pt"></div></ion-col>
                     <ion-col col-10 style="color:#424242;padding: 0;"><div style="margin-top: 10pt;"><ion-icon name="walk"></ion-icon> {{userFeetSource}} {{"walk" | translate}}</div> </ion-col>
                     
                    </ion-row>
                  </ion-col>
                </ion-row>

                <ion-row style="font-size:14pt">
                    <ion-col col-4 style="text-align:center;color:#424242">{{userStopTime}}</ion-col>
                    <ion-col col-8>
                      <ion-row>
                       <ion-col col-2 style="color:#faf1e7;padding: 0 5px;"><img src="assets/imgs/icBusStopSmall@2x.png" style="width: 18px;"></ion-col>
                       <ion-col col-5 style="color:#424242;padding: 0 5px;">{{"busStop" | translate}}</ion-col>
                       <ion-col (click)="openOnMap()" col-5 *ngIf="translate.getDefaultLang()!='ar'" style="padding: 2px 5px;color:#ff8300;font-size: 16px">{{"SeeMap" | translate}} <ion-icon name="arrow-round-forward"></ion-icon></ion-col>
                       <ion-col (click)="openOnMap()" col-5 *ngIf="translate.getDefaultLang() =='ar'" style="padding: 2px 5px;color:#ff8300;font-size: 14px">{{"SeeMap" | translate}} <ion-icon style="transform: rotate(180deg)" name="arrow-round-forward"></ion-icon></ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>

                <ion-row style="font-size:14pt">
                    <ion-col col-4 style="text-align:center;color:#424242">{{busEstArrivall}}</ion-col>
                    <ion-col col-8>
                      <ion-row>
                       <ion-col col-2 style="color:#faf1e7"><img src="assets/imgs/icBus@3x.png" style="width: 18px;"></ion-col>
                       <ion-col col-10 style="color:#424242">{{"EstimatedArrival" | translate}} </ion-col>
                       
                      </ion-row>
                    </ion-col>
                  </ion-row>

                  <ion-row style="font-size:14pt;padding: 0;">
                      <ion-col col-4 style="color:#424242;padding: 0;text-align: center;"><div>{{busEstDeptTime}}</div><div style="margin-top: 30pt;">{{busAveStopTime}}</div></ion-col>
                      <ion-col col-8>
                        <ion-row>
                         <ion-col col-2 style="color:#ff8300;padding: 0;"><div style="border-radius: 10pt; margin: 0 12px;height:80pt;width:10px;background-color:#ff8300"></div></ion-col>
                         <ion-col col-10 style="color:#424242;padding: 0;"><div >{{"EstimatedDeparture" | translate}}</div><div style="margin-top: 30pt;">{{"GatewayAveStop" | translate}}</div></ion-col>
                         
                        </ion-row>
                      </ion-col>
                    </ion-row> 

                    <ion-row  *ngIf="userFeetDest" style="font-size:14pt;padding: 0;">
                        <ion-col col-4 style="color:#424242;padding: 0;"></ion-col>
                        <ion-col col-8>
                          <ion-row>
                           <ion-col col-2 style="color:gray;padding: 0;"><div style="border-left-width:2px;border-left-style:dashed; margin: 0 12px;height:51pt"></div></ion-col>
                           <ion-col col-10 style="color:#424242;padding: 0;"><div style="margin-top: 10pt;"><ion-icon name="walk"></ion-icon> {{userFeetDest}} {{"walk" | translate}}</div> </ion-col>
                           
                          </ion-row>
                        </ion-col>
                      </ion-row>
                      <ion-row *ngIf="userDestAddress" style="font-size:14pt">
                          <ion-col col-4 style="text-align:center;color:#424242">{{endTime}}</ion-col>
                          <ion-col col-8>
                            <ion-row>
                             <ion-col col-2 style="color:#faf1e7"><img src="assets/imgs/icWorkSmall@2x.png" style="width: 18px;"></ion-col>
                             <ion-col col-10 style="color:#424242;text-transform: capitalize;">{{userDestAddress}}</ion-col>
                             
                            </ion-row>
                          </ion-col>
                        </ion-row>
              <!-- <ion-row >
                <ion-col col-6 >
                    <label style="color: #a7a9ac;font-size: 17px;">{{'EST_ARRIVAL'|translate}}</label>
                </ion-col>
                <ion-col col-6 >
                    <label style="color: black;font-size: 17px;">{{tripDetails.routes?.duration?.text}}</label>
                </ion-col>
              </ion-row>
              <ion-row >
                <ion-col col-6 >
                    <label style="color: #a7a9ac;font-size: 17px;">{{'distance'|translate}}</label>
                </ion-col>
                <ion-col col-6 >
                    <label style="color: black;font-size: 17px;">{{tripDetails.routes?.distance?.text}}</label>
                  
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6 >
                    <label style="color: #a7a9ac;font-size: 17px;">{{'Start'|translate}}</label>
                </ion-col>
                <ion-col col-6 >
                    <label style="color: black;font-size: 17px;">{{tripDetails.route_start_address}}</label>
                </ion-col>
              </ion-row>
              <ion-row >
                <ion-col col-6 >
                    <label style="color: #a7a9ac;font-size: 17px;">{{'STOP'|translate}}</label>
                </ion-col>
                <ion-col col-6 >
                    <label style="color: black;font-size: 17px;">{{tripDetails.route_end_address}}</label>
                  
                </ion-col>
              </ion-row>
              <div style="background-color:#e8e8e8 ;height: 2px;margin-right: 20px;margin-left: 20px;margin-top: 20px"></div> -->
            
      </ion-row>
      <!-- map view -->
      <div [style.display]="section == 'two' ? 'block' : 'none'">
          <div style="margin: 4px;background-color:transparent;width:50px;left:0;border-radius: 10px;float: left;position: absolute; z-index: 100000;">
              <img *ngIf="map_type == 'ROADMAP'" src="assets/imgs/sat.png" (click)="mapTypeChanged('SATELLITE')" style="width:50px;height:50px;border-radius: 10px"/>
              <img *ngIf="map_type == 'SATELLITE'" src="assets/imgs/map.png" (click)="mapTypeChanged('ROADMAP')" style="width:50px;height:50px;border-radius: 10px"/>
              </div>
        <!-- <ion-select interface="popover" [(ngModel)]="map_type" (ionChange)="mapTypeChanged()" style="text-align: center;position: absolute; z-index: 100000;background-color:white;width:100px;padding: 4px;margin: 6px 65px;">
          <ion-option value="ROADMAP">{{"Map" | translate}}</ion-option>
          <ion-option value="SATELLITE">{{"SATELLITE" | translate}}</ion-option>
        </ion-select> -->
            <!-- <div id="map_canvas" #map_canvas style="width:100%;height:100%;position: absolute"></div> -->
            <div #map_t id="map_t" >
            </div>
        
      <!-- </div> -->
    </div>



</ion-content>