<ion-header class="{{this.helper.lang_direction}}">
  <ion-navbar color="autobus">
      <ion-buttons  left>
        <button ion-button (click)="ionViewDidEnter()">
          <ion-icon name="refresh" style="color:white;font-size:24px;font-weight: bold;" ></ion-icon>
        </button>
    </ion-buttons>
    
    <ion-title>
      {{"triptab" | translate}}
    </ion-title>
    <ion-buttons  right>
        
        <button ion-button (click)="openContact()">
            <ion-icon name="ios-call-outline" style="color:white;font-size:24px;font-weight: bold;" ></ion-icon>
          </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #scrollArea scrollEvents="true" class="{{this.helper.lang_direction}}">
  <div style="margin-top: 30px !important;margin-left: 8%;margin-right: 8%;">
    <ion-row  class="shadowLocatinAddress">
      <ion-col col-1 style="margin: auto;display: block;">
        <div class="circleBase type1">
          <span style="margin: auto;display: block;width: fit-content;color: #006098;font-weight: bold;">A</span>
        </div>
      </ion-col>
      <ion-col (click)="showSearchPlaces(1)" col-8 style="color: #ff8300;margin: auto;display: block; font-size: 14px;margin-left: 5px;margin-right: 5px;">
          <span *ngIf="!locationAddress_Source" style="color:gray">{{"Source" | translate}}</span><ion-label style="margin: 0">{{locationAddress_Source}}</ion-label>
      </ion-col>
      <ion-col (click)="myLocation()" col-2 style="margin: auto;display: block;">
        <img src="assets/imgs/yourLocation.png" style="margin: auto;display: block;width: 28px;height: 28px;">
      </ion-col>
    </ion-row>
  </div>
  <div style="margin-top: 18px;margin-left: 8%;margin-right: 8%;">
    <ion-row class="shadowLocatinAddress">
      <ion-col col-1 style="margin: auto;display: block;">
        <div class="circleBase type2">
          <span style="font-weight: bold;display: block;">B</span>
        </div>
      </ion-col>
      <ion-col col-8  (click)="showSearchPlaces(2)" style="color: rgb(0, 96, 152);margin: auto;display: block; font-size: 14px;">
        <span *ngIf="!locationAddress_Dest" style="color:gray">{{"Destination" | translate}}</span><ion-label style="margin: 0">{{locationAddress_Dest}}</ion-label>
      </ion-col>
      <ion-col (click)="swapSD()" col-2 style="margin: auto;display: block;">
        <img src="assets/imgs/icSwap.png" style="margin: auto;display: block;width: 20px;height: 20px;">
      </ion-col>
    </ion-row>
  </div>
  <!-- <div class="soerateline" [ngStyle]="{'top': this.platform.is('ios') ? '120px' : '54px'}">
    <div style="background-color:#d8ebf7;width: 1px;height: 6px;margin-bottom:2px ;"></div>
    <div style="background-color:#006098;width: 1px;height: 6px;margin-bottom:2px ;"></div>
    <div style="background-color:#006098;width: 1px;height: 6px;margin-bottom:2px ;"></div>
    <div style="background-color:#006098;width: 1px;height: 6px;margin-bottom:2px ;"></div>
    <div style="background-color:#006098;width: 1px;height: 6px;;"></div>
  </div> -->
  <div>
    <button ion-button (click)="search()" style="margin:auto;background-color:#ff8300;width: 83%;display: block;margin-top:20px;text-transform: none;font-size: 14px;">{{'Search'|translate}}</button>
  </div>

  <div class="shadowOfSegment">
    <ion-segment mode="md"  color="mainColor" (click)="segmentChanged()" style="color:#006098">
      <ion-segment-button (click)="setActive('MAP')" [style.border-bottom]="tripSegment == 'MAP' ? '4px solid #006098' : 'none'" style="font-size: 14px">
        {{'MAP'|translate}}
      </ion-segment-button>
      <ion-segment-button (click)="setActive('RECENT')" [style.border-bottom]="tripSegment == 'RECENT' ? '4px solid #006098' : 'none'" style="font-size: 14px">
        {{'RECENT'|translate}}
      </ion-segment-button>
      <ion-segment-button (click)="setActive('SAVED')" [style.border-bottom]="tripSegment == 'SAVED' ? '4px solid #006098' : 'none'" style="font-size: 14px">
        {{'SAVED'|translate}}
      </ion-segment-button>
    </ion-segment>
  </div>
  <div *ngIf="this.helper.skipLogin">
      <button ion-button (click)="loginToApp()" style="margin:auto;background-color:#006098;width: 83%;display: block;margin-top:20px;text-transform: none;font-size: 14px;z-index: 100000000;">{{'Login'|translate}}</button>
    </div>
  <div>
     
    <!-- map view -->
    <ion-row *ngIf="!this.helper.skipLogin" [style.display]="tripSegment == 'MAP' ? 'block' : 'none'">
        
        <div id="map_canvas" #map_canvas style="width:100%;height:calc(100% - 215px);position: absolute;direction: ltr !important;">
            <div style="margin: 60px 10px;background-color:transparent;width:50px;left:0;border-radius: 10px;float: left;">
                <img *ngIf="map_type == 'MAP_TYPE_NORMAL'" src="assets/imgs/sat.png" (click)="mapTypeChanged('MAP_TYPE_SATELLITE')" style="width:50px;height:50px;border-radius: 10px"/>
                <img *ngIf="map_type == 'MAP_TYPE_SATELLITE'" src="assets/imgs/map.png" (click)="mapTypeChanged('MAP_TYPE_NORMAL')" style="width:50px;height:50px;border-radius: 10px"/>
                </div>  
        </div>
    </ion-row>
    <!-- recent Location -->
    <div class="scroll-content2" [style.display]="tripSegment == 'RECENT' ? 'block' : 'none'">
       
        <ion-row style="text-align:center;" *ngIf="noRecentData && !this.helper.skipLogin">
            <ion-col col-12>
              {{'noRecentData' | translate}}
            </ion-col>
          </ion-row>
      <ion-list>
        <ion-row (click)="openSerchFromRecent(item)" *ngFor="let item of recentSearchArray;" style="padding-left:20px;padding-right: 20px;padding-top: 10px;padding-bottom: 0px;">
          <ion-col col-2 style="height: fit-content!important; margin: auto!important;">
            <img src="assets/imgs/icBusBig.png" style="margin: auto;display: block;width: 25px;height: 15px;">
          </ion-col>
          <ion-col col-10>
            <!-- <ion-row style="margin-bottom: 12px">
              <ion-col style="padding:0;">
                <label style="color: #006098;font-size: 16px;font-size: 15px">{{'Bus'|translate}} {{item.id}} </label>
              </ion-col>
            </ion-row> -->
            <ion-row>
              <ion-col style="padding:0;">
                <label style="color: #a7a9ac;font-size: 16px;font-size: 13px;">{{'Source'|translate}}</label>
              </ion-col>
              <ion-col style="padding:0;">
                <label style="color: #a7a9ac;font-size: 16px;font-size: 13px;">{{'Destination'|translate}}</label>
              </ion-col>
            </ion-row>
            <ion-row style="margin-bottom: 5px;margin-top: 2px;">
              <ion-col col-5 style="padding:0;">
                <label style="color: black;font-size: 16px;">{{item.from_location_address}}</label>
              </ion-col>
              <ion-col col-1 style="padding:0;width: fit-content;">
                  <img src="assets/imgs/icMap.png" style="width: 15px;height: 15px;">
                </ion-col>
              <ion-col col-5  style="padding:0;">
                <label style="color: black;font-size: 16px;">{{item.to_location_address}}</label>
              </ion-col>
              <ion-col  col-1  style="padding:0;width: fit-content;">
                  <img src="assets/imgs/icMap.png" style="width:15px;height: 15px;">
                </ion-col>
            </ion-row>
          </ion-col>
          <div style="background-color:#e8e8e8 ;width: 100%;height: 2px;margin-right: 20px;margin-left: 20px"></div>
        </ion-row>
        
      </ion-list>
    </div>
    <!-- saved location -->
    <div class="scroll-content2" [style.display]="tripSegment == 'SAVED' ? 'block' : 'none'">
        
        <ion-row style="text-align:center;" *ngIf="noSavedData && !this.helper.skipLogin">
            <ion-col col-12>
              {{'noSavedData' | translate}}
            </ion-col>
          </ion-row>
      <ion-list>
        <ion-row  *ngFor="let item of savedLocations;">
          <ion-col col-2 (click)="openSerchFromSaved(item)" style="height: fit-content!important; margin: auto!important;">
            <img src="assets/imgs/icBusBig.png" style="margin: auto;display: block;width: 25px;height: 15px;">
          </ion-col>
          <ion-col col-10>
            <!-- <ion-row style="margin-bottom: 12px">
              <ion-col style="padding:0;">
                <label style="color: #006098;font-size: 16px;font-size: 15px">{{'Bus'|translate}} {{item.id}} </label>
              </ion-col>
            </ion-row> -->
            <ion-row>
              <ion-col (click)="openSerchFromSaved(item)" style="padding:0;">
                <label style="color: #a7a9ac;font-size: 16px;font-size: 13px;">{{'Source'|translate}}</label>
              </ion-col>
              <ion-col (click)="openSerchFromSaved(item)" style="padding:0;">
                <label style="color: #a7a9ac;font-size: 16px;font-size: 13px;">{{'Destination'|translate}}</label>
              </ion-col>
              <ion-col col-2 ></ion-col>
            </ion-row>
            <ion-row style="margin-bottom: 5px;margin-top: 2px;">
              <ion-col col-5 (click)="openSerchFromSaved(item)" style="padding:0;">
                <label style="color: black;font-size: 16px;">{{item.from_location_address}}</label>
              </ion-col>
              <ion-col col-5 (click)="openSerchFromSaved(item)" style="padding:0;">
                <label style="color: black;font-size: 16px;">{{item.to_location_address}}</label>
              </ion-col>
              <ion-col  col-2 (click)="deleteRoute(item.id)" style="padding:0;width: fit-content;">
                <ion-icon name="trash" style="font-size: 25px;color:red" ></ion-icon>
              </ion-col>
            </ion-row>
          </ion-col>
          <div style="background-color:#e8e8e8 ;width: 100%;height: 2px;margin-right: 20px;margin-left: 20px"></div>
        </ion-row>
        <div>
          <button ion-button (click)="getSavedLocations()" [hidden]="hideMoreBtn" style="margin:auto;background-color:#ff8300;width: 83%;display: block;margin-top:20px;text-transform: none;font-size: 14px;">{{'loadMore'|translate}}</button>
        </div>
      </ion-list>
    </div>

  </div>

</ion-content>
