page-trip-plannig-tab {
    ion-title  {
       color: white;
       font-size: 24px !important;
       width: 100% !important;
       text-align: center
      
      } 
      .circleBase.type1::before {
        content: "";
        height: 50px;
        background-color: #38b5ed00;
        border-right: 2px dashed #006198;
        display: inline;
        margin-right: 0px;
        margin: auto;
        text-align: center;
        margin-top: 2em;
        position: absolute;
    }
      .callButtonStyleEn{
          font-size: 30px;
          float:right;
      }
      .callButtonStyleAr{
          font-size: 30px;
          float:left;
      }
      
    .circleBase {
        border-radius: 50%;
        margin: auto;
    }
    .type1 {
        width: 27px;
        height: 27px;
       background: #e8e8e8;
       color: #006098;
        text-align: center;
     }
     .type2 {
        width: 27px;
        height: 27px;
       background: #006098;
       color: #e8e8e8;
        text-align: center;
     }
     .shadowLocatinAddress{
         padding: 0px !important;
        border: 2px;
        border-radius: 6px;
        -webkit-box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.16);
        box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.16);
     }
     .shadowOfSegment{
         margin-top: 5px;
        -webkit-box-shadow: 0px 4px 12px 0px rgba(224,220,224,1);
        -moz-box-shadow: 0px 4px 12px 0px rgba(224,220,224,1);
        box-shadow: 0px 4px 12px 0px rgba(224,220,224,1);
        border: 1px;
     }
     
     .scroll-content{
        overflow-y: hidden !important;
     }
      .soerateline {
        position: fixed;
        //top: 54px;
        margin-left: 13.8%;
       margin-right: 13.8%;
      background-color: lightblue;
    }
    @media only screen and (orientation: landscape) {
        
        .soerateline {
            position: fixed;
            //top: 54px;
            margin-left: 12.8%;
           margin-right: 12.8%;
          background-color: lightblue;
        }
      }

      .scroll-content2{
		left: 0;
		right: 0;
		top: 240px;
		bottom: 0;
		position: absolute;
		z-index: 1;
		display: block;
		overflow-x: hidden;
		overflow-y: scroll;
		will-change: scroll-position;
		contain: size style layout;
	}
}
